<html>
    <head></head>
    <body>
        <p><%= title%></p>
        <h1>rendering something</h1>
        <ul>
            <% for(let i of contactlist) {%>
                <li>
                    <p><%=i.name%></p>
                    <p><%=i.phone%></p>
                    <a href="/delete-contact/?id=<%=i._id%>"><button>Delete this contact</button></a>
                </li>
                <%}%>
        </ul>
        <form action="/create-contact" method="POST">
            <input type="text" placeholder="John" name="name">
            <input type="text" placeholder="95673772" name="phone">
            <button type="submit"> Submit</button>
        </form>
    </body>
</html>