extends layout
block content
    .container#signup_container
        .row
            .col-md-6.offset-md-1
                form(action='/login' method='POST')
                    h1.col.pl-5 Login to view all messages 
                    div.input-group.pt-2.pl-5.pr-5
                        input.form-control#firstname(type='text' name='username' placeholder='user name here')
                    div.form-group.pt-2.pl-5.pr-5
                        input.form-control#lastname(type='password' name='password' placeholder='password here')
                    button.btn.btn-info.mt-3.mb-3#submit-btn(type='submit') Sign-up
                