<h1> <%= title %></h1>
<form action="/users/create" method="POST">
    <input type="email" name="email" placeholder="abc@gmail.com">
    <input type="text" name="name" placeholder="john">
    <input type="text" name="gender" placeholder="female">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="confirmpassword" placeholder="confirm password">
    <input type="submit">
</form>