body {
  padding: 50px;
  
  background-image: url('https://images.pexels.com/photos/238118/pexels-photo-238118.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  
  
}
div{
  color: #3b4246;
  font-family: 'ProximaNova-Semibold';
  
}
#alter-text
{
  font-size: 20px;
  font-family: 'ProximaNova-Semibold';
}
#main-div
{
  margin-top: 180px;
  font-weight: bold;
}
#alter-text
{
  margin-left: 100px;
  font-weight: 300;
}
#signUp
{
  margin-left: 170px;
  color: #3b4246;
  font-weight: bold;
}
#logIn
{
  margin-left: 80px;
  color: #3b4246;
  font-weight: bold;
}
a:hover { 
  text-decoration: none; 
} 

#signup_container
{
    margin-top: 100px;
}
form
{
    background-color: transparent;
    box-shadow: 0px 0px 20px 0px #888888;
}
form h1{
  padding-top: 30px;
  padding-left:180px;
}
#submit-btn
{
    margin-left: 200px;
}
